:root {
    --black: #000000;
    --white: #FFFFFF;
    --purple: #8100FF;
    --orange: #FF5C00;
    --grey: #9A9A9A;
    --light-grey: #E9E9E9;
    --green: #3BB33B;
    --low: #FF0000;
    --medium: #FFAF37;
    --high: #3BB33B;

    --bg-body: var(--white);
    --text-primary: var(--black);

    --arrow: #010101;
    --arrow-disabled: #CDCDCD;
}

[data-theme="dark"] {
    --bg-body: var(--black);
    --text-primary: var(--white);

    --arrow: var(--white); 
    --arrow-disabled: #7D7D7D;
}

