 /* * { outline: 1px solid red; }  */


/* ---Сброс стилей--- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
    max-width: 1274px;
    margin-inline: auto;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-body);
    color: var(--text-primary);
    min-height: 100vh;
}

.header {
  padding-inline: 1vw;
}
 
.header__logo {
  display: flex;   
  align-items: center;
  flex-shrink: 0;    
}
  
.header__logo img {
  width: 342px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0 27px 0;
}

.header__panel {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 20vw;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  margin-top: 12px;
} 
  
.header__menu {
  display: flex;
  align-items: center;
  gap: 66px;
  height: 31px;
}

.header__menu-link {
  transition: color 0.2s ease;
}

.header__menu-link:hover,
.header__menu-link:focus-visible {
  color: var(--grey);
}

.theme-toggle {
  display: flex;
  align-items: center;
  gap: 20px;
}

.theme-toggle__button {
  position: relative;
  width: 56px;
  height: 31px;
  border-radius: 20px;
  background-color: var(--light-grey);
  border: none;
  cursor: pointer;
  padding: 0;
  flex-shrink: 0;
}
 
.theme-toggle__circle {
  position: absolute;
  top: 3px;
  left: 7px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--black);
  transition: transform 0.2s ease;
}

[data-theme="dark"] .theme-toggle__circle {
  transform: translateX(18px);
}
  
.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 22px;
  height: 14px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.burger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--text-primary);
  transition: 0.1s ease;
}

.burger.active span:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

.burger.active {
  left: 149px;
  top: 25px;
  position: fixed;
  z-index: 5;
}

/* footer */

.footer {
  padding-block: 89px;
  background-color: var(--black);
  color: var(--white);
  padding-inline: 1vw;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  font-size: 26px;
  line-height: 125%;
  font-weight: 600;
}

.footer__socials-link svg {
  height: 21px;
  transition: color 0.2s ease;
}

.footer__socials-link:hover svg {
  color: var(--hoverSvg);
}

.footer__socials {
  display: flex;
  gap: 20px;
}
  
@media (max-width: 768px) {

  .container {
    padding-inline: 30px;
  }
  
  .header__logo img {
    width: 217px;
  }

  .header__inner {
    padding: 7px 0 13px 0;
  }
  
  .header__panel {
    position: fixed;
    opacity: 0;
    inset: 0 auto 0 0;
    width: 198px;
    height: 100vh;
    background-color: var(--bg-body);
    color: var(--text-primary);
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 30px;
    padding: 112px 0px 55px 29px;
    transform: translateX(-100vw);
    margin: 0;
    visibility: hidden;
    z-index: 5;
    }

  .header__panel.active {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }

  .header__menu {
    flex-direction: column;
    align-items: start;
    gap: 30px;
  }

  .theme-toggle {
    flex-direction: row-reverse;
    gap: 10px;
    font-size: 14.65px;
  }

  .theme-toggle__button {
    width: 32px;
    height: 17.71px;
  }
    
  .theme-toggle__circle {
    top: 1.21px;
    left: 2.29px;
    width: 13.71px;
    height: 13.71px;
  }
  
  [data-theme="dark"] .theme-toggle__circle {
    transform: translateX(13px);
  }

  .burger {
    display: flex;
  }

/* Footer*/

    .footer {
      padding-block: 45px;
  }

  .footer .container {
      flex-direction: column-reverse;
      align-items: start;
      gap: 54px;
  }

  .footer__copyright {
      font-size: 18px;
  }

  .footer__socials-link svg {
      height: 15px;
  }

  .footer__socials {
      gap: 15px;
  }
}